.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
.pdf

TOT_Sum_Reccomended_C40-50_J50-60_Fs80-90_Ms50-70.csv

TOT_Sum_Reccomended_C40-50_J50-60_Fs80-90_Ms50-90.csv

TOT_Sum_Reccomended_C40-50_J50-60_Fs80-90_Ms80-90.csv

TOT_Sum_Reccomended_C40-50_J50-70_Fs80-90_Ms50-90.csv

TOT_Sum_Reccomended_C40-50_J60-70_Fs80-90_Ms50-90.csv

TOT_Sum_Reccomended_C40-60_J40-60_Fs80-90_Ms50-70.csv

TOT_Sum_Reccomended_C40-60_J40-60_Fs80-90_Ms50-90.csv

TOT_Sum_Reccomended_C40-60_J40-60_Fs80-90_Ms70-90.csv

TOT_Sum_Reccomended_C40-60_J40-60_Fs80-90_Ms80-90.csv

TOT_Sum_Reccomended_C40-60_J50-60_Fs80-90_Ms50-90.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs50-80_Ms50-90_FemaleTestL.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs50-90_Ms50-90_FemaleTestL.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs60-80_Ms50-90_FemaleTestL.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs60-90_Ms50-90_FemaleTestL.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs70-80_Ms50-90_FemaleTestL.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs70-90_Ms50-90_FemaleTestL.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs70-90_Ms50-90.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs70-90_Ms70-90.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs80-90_Ms50-70.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs80-90_Ms50-90_FemaleTestL.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs80-90_Ms50-90.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs80-90_Ms70-90.csv

TOT_Sum_Reccomended_C50-60_J50-60_Fs80-90_Ms80-90.csv

TOT_Sum_Reccomended_C60-80_J60-80_Fs80-90_Ms80-90.csv

TOT_Sum_Reccomended_CHs30-50JUVs40-60.csv

TOT_Sum_Reccomended_CHs40-50.csv

TOT_Sum_Reccomended_CHs40-50JUVs50-60.csv

TOT_Sum_Reccomended_CHs40-60.csv

TOT_Sum_Reccomended_CHs50-60.csv

TOT_Sum_Reccomended_CHsJUVs40-50.csv

TOT_Sum_Reccomended_CHsJUVs40-60.csv

TOT_Sum_Reccomended_CJs40-50Fs80-90Ms50-90.csv

TOT_Sum_Reccomended_CJs40-60Fs70-90Ms50-90.csv

TOT_Sum_Reccomended_CJs40-60Fs80-90Ms50-70.csv

TOT_Sum_Reccomended_CJs40-60Fs80-90Ms50-80.csv

TOT_Sum_Reccomended_CJs40-60Fs80-90Ms50-90.csv

TOT_Sum_Reccomended_CJs50-60Fs80-90Ms50-90.csv

TOT_Sum_Original.csv

TOT_Sum_Reccomended_C40-50_J40-50_Fs80-90_Ms50-90.csv

TOT_Sum_Reccomended_C40-50_J40-60_Fs80-90_Ms50-90.csv

FBR.png

FNO.png

MBR.png

MNO.png

NBRF.csv

NBRM.csv

NNOF.csv

NNOM.csv

PeafowlIPM_TwoSex_Matrix_TestRun_BreedProb.rds

PeafowlIPM_TwoSex_Matrix_TestRun_TOT.rds

PeafowlIPM_TwoSex_Matrix_TestRun_TOTOlong.rds

R/GPeafowlIPM_ResultsViz_TwoSex_Matrix.R

R/GPIPM_TwoSex_Matrix_Clutch_BreedProb.R

R/InitialSIm_TOT.R

R/PeafowlIPM_TwoSex_Matrix_TestRun_TOT_Original.rds

R/PeafowlIPM_TwoSex_Matrix_TestRun_TOT_Recommendation.rds

R/ReproductionDataPrep.R

R/TOT_VIZ.R

R/TOT.R

Summary.csv
